body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    padding: 10px 100px;
    font-weight: bold;
}

.nav {
    display: flex;
    font-size: 18px;
    align-items: center;
    gap: 15px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 50px 100px;
    gap: 15px;
}

.hero-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}

.hero-content h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 1000px;
    margin: 0;
    padding: 0;
}

.hero-content p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.hero-img {
    display: flex;
    flex: 1;
    border: 1px solid black;
    background-color: gray;
}

.hero-content button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color:#E5E7EB;
    border: none;
    border-radius: 5px;
    margin: 0;
    text-align: left;
    width: min-content;
    text-wrap: nowrap;
    padding: 5px 15px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 150px;
    text-align: center;
}

.info-panels {
    display: flex;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 60px 45px;
}

.info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 1000;
}

.panel-text {
    color: #1F2937;
    font-size: 18px;
}

.panel-image {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 10vw;
    height: 10vw;
}